{
    "logFile": "/opt/factorio/Factorio-server.log",

    "prefix": "?",
    "chatChannel": "Channel ID",
    "cleanMessages": false,
    "consoleChannel": false,

    "logLines": false,

    "startupMessage": {
        "enabled": false,
        "message": "Factorio Chat Bot is now Online!"
    },

    "RconIP": "127.0.0.1",
    "RconPort": "port",
    "RconPassword": "password",

    "token": "Bot Token"
}