{
    "logFile": "/opt/factorio/Factorio-server.log",

    "chatChannel": "Channel ID",
    "cleanMessages": false,
    "adminsCanRunCommands": false,
    "sendServerMessages": false,

    "logLines": false,

    "startupMessage": {
        "enabled": false,
        "message": "Factorio Chat Bot is now Online!"
    },

    "factorioPath": "bin/x64/factorio",
    "autoCheckUpdates": false,
    "userToNotify": "User ID",
    "checkTime": 500000,
    "silentCheck": true,

    "RconIP": "127.0.0.1",
    "RconPort": "port",
    "RconPassword": "password",

    "token": "Bot Token"
}